<div id="help-row" class="row" style="height:400px; margin-top:50px;">
	<div id="column" class="span7 offset1">
		<h1>Help & FAQ</h1>
		<br />
		<h3>
		<ul>
			<li><a href="#login">How do I login?</a></li>
			<li><a href="#bid">How do I bid?</a></li>
			<li><a href="#forgot">I forgot my password</a></li>
			<li><a href="#reset">How do I reset my password?</a></li>
			<li><a href="#pay">How do I pay for an auction I won?</a></li>
			<li><a href="#won">How do I know I won an auction?</a></li>
			<li><a href="#unsubscribe">How do I stop emails?</a></li>
			<li><a href="#subscribe">How do I sign up for email notifications?</a></li>
			<li><a href="#list">How do I list something I want to sell?</a></li>
		</ul>
		</h3>
		<a name="login"></a>
		<section class="help_section">
			<h2>How do I login?</h2>
			<p>
				I need somebody,
				Help, not just anybody,
				Help, you know I need someone, help.
			</p>
		</section>
		<a name="bid"></a>
		<section class="help_section">
			<h2>How do I bid?</h2>
			<p>
			When I was younger, so much younger than today,
			I never needed anybody's help in any way.
			But now these days are gone, I'm not so self assured,
			Now I find I've changed my mind and opened up the doors.
			</p>
		</section>
		<a name="forgot"></a>
		<section class="help_section">
			<h2>I forgot my password</h2>
			<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me.
			</p>
		</section>
		<a name="reset"></a>
		<section class="help_section">
			<h2>How do I reset my password?</h2>
			<p>
			And now my life has changed in oh so many ways,
			My independence seems to vanish in the haze.
			But every now and then I feel so insecure,
			I know that I just need you like I've never done before.
			</p>
		</section>
		<a name="pay"></a>
		<section class="help_section">
			<h2>How do I pay for an auction I won?</h2>
			<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me.
			</p>
		</section>
		<a name="won"></a>
		<section class="help_section">
			<h2>How do I know I won an auction?</h2>
			<p>
			When I was younger, so much younger than today,
			I never needed anybody's help in any way.
			But now these days are gone, I'm not so self assured,
			Now I find I've changed my mind and opened up the doors.
			</p>
		</section>
		<a name="unsubscribe"></a>
		<section class="help_section">
			<h2>How do I stop emails?</h2>
			<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
			</p>
		</section>
		<a name="subscribe"></a>
		<section class="help_section">
			<h2>How do I sign up for email notifications?</h2>
			<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
			</p>
		</section>
		<a name="list"></a>
		<section class="help_section">
			<h2>How do I list something I want to sell?</h2>
			<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
			</p>
		</section>
	</div><!-- /column -->
</div><!-- /help-row -->