<div id="help-row" class="row" style="height:400px; margin-top:50px;">
	<div id="column" class="span7 offset1">
		<h1>Help & FAQ</h1>
		<br />
		<h3>
		<ul>
			<li><a href="#login">How do I login?</a></li>
			<li><a href="#bid">How do I bid?</a></li>
			<li><a href="#forgot">I forgot my password</a></li>
			<li><a href="#reset">How do I reset my password?</a></li>
			<li><a href="#pay">How do I pay for an auction I won?</a></li>
			<li><a href="#won">How do I know I won an auction?</a></li>
			<li><a href="#unsubscribe">How do I stop emails?</a></li>
			<li><a href="#subscribe">How do I sign up for email notifications?</a></li>
			<li><a href="#list">How do I list something I want to sell?</a></li>
		</ul>
		</h3>
		<h2><a name="login">How do I login?</a></h2>
		<p>
			I need somebody,
			Help, not just anybody,
			Help, you know I need someone, help.
		</p>
		<h2><a name="bid">How do I bid?</a></h2>
		<p>
			When I was younger, so much younger than today,
			I never needed anybody's help in any way.
			But now these days are gone, I'm not so self assured,
			Now I find I've changed my mind and opened up the doors.
		</p>
		<h2><a name="forgot">I forgot my password</a></h2>
		<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me.
		</p>
		<h2><a name="reset">How do I reset my password?</a></h2>
		<p>
			And now my life has changed in oh so many ways,
			My independence seems to vanish in the haze.
			But every now and then I feel so insecure,
			I know that I just need you like I've never done before.
		</p>
		<h2><a name="pay">How do I pay for an auction I won?</a></h1>
		<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me.
		</p>
		<h2><a name="won">How do I know I won an auction?</a></h2>
		<p>
			When I was younger, so much younger than today,
			I never needed anybody's help in any way.
			But now these days are gone, I'm not so self assured,
			Now I find I've changed my mind and opened up the doors.
		</p>
		<h2><a name="unsubscribe">How do I stop emails?</a></h2>
		<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
		</p>
		<h2><a name="subscribe">How do I sign up for email notifications?</a></h2>
		<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
		</p>
		<h2><a name="list">How do I list something I want to sell?</a></h2>
		<p>
			Help me if you can, I'm feeling down
			And I do appreciate you being round.
			Help me, get my feet back on the ground,
			Won't you please, please help me, help me, help me, oh.
		</p>
	</div><!-- /column -->
</div><!-- /help-row -->