<%= javascript_include_tag params[:controller] %>
<div id="help-row" class="row" style="height:400px; margin-top:100px;">
	<div id="column" class="span6 offset3">
		<h1>Help</h1>
		<p>
			This is the help page. Help text will go here.
		</p>
	</div><!-- /column -->
</div><!-- /help-row -->