<ul class="thumbnails">
	<% @auctions.each do |auction| %>
      <li class="span3">
        <div class="thumbnail auction-thumbnail">
          <img src="http://placehold.it/210x150" alt="">
          <div class="caption">
            <h5><%= auction.name %></h5>
            <div style="height:65px">
              <p><%= auction.description %></p>
            </div><!-- / -->
            <h5>Time Remaining: 00:<%= Random.new.rand(10..50) %></h5>
            <p><%= link_to "Bid Now!", "#", class: "btn btn-success" %></p>
          </div>
        </div>
      </li>
  <% end %>
</ul>