<%= javascript_include_tag params[:controller] %>
<div class="row">
	<div class="span12">
	  <h2>Highly customizable</h2>
	  <p>With a bit of extra markup, it's possible to add any kind of HTML content like headings, paragraphs, or buttons into thumbnails.</p>
	  <%= render "/partials/auction_list", locals: @auctions %>
	</div>
</div>
