<div class="row">
	<div class="span12">
	  <h2>ReAuction</h2>
	  <p>ReAuction is an exciting reaction-based bidding platform.  If the auction is in its final moments, your bid will extend the auction by a few minutes to give other bidders time to react to your new bid!</p>
	  <%= render "/partials/auction_list", locals: @auctions %>
	</div>
</div>