<%= javascript_include_tag params[:controller] %>
<div class="row">
	<div class="span12">
	  <h2>Auctions</h2>
	  <p>This could be some introductory text if needed. This could also have a block of content, possibly similar to another big auction site.</p>
	  <%= render "/partials/auction_list", locals: @auctions %>
	</div>
</div>
