<div class="row">
	<div class="span6">
		<h2>
			Paying For
		</h2>
		<table class="table">
			<tr>
				<th>
					Name
				</th>
				<td>
					<%= @auction.name %>
				</td>
			</tr>
			<tr>
				<th>
					Price
				</th>
				<td>
					<%= @price %>
				</td>
			</tr>
			<tr>
				<th>
					Description
				</th>
				<td>
					<%= @auction.description %>
				</td>
			</tr>
		</table>
	</div>

	<div class="span6">
		<h2>
			Payment Method
		</h2>
		<%= render 'partials/credit_card_form' %>
	</div>
</div>