<%= javascript_include_tag params[:controller] %>
<span>Username:</span>
<p><%= @user.username %></p>
<span>Email:</span>
<p><%= @user.email %></p>
<span>Admin:</span>
<p>
	<% if @user.admin? %>
		Yes
	<% else %>
		No
	<% end %>
</p>