@import "sessions";
@import "twitter/bootstrap";

html {
	height: 100%;
}

body {
	margin-top: 60px;
	background-image:url('/images/bg_light_wood.png');
	height: 100%;
}

#main-container {
	/*min-height: 100%;*/
   	position: relative;
	background: #FFF;
	border-radius: 3px;
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 23px;
}

#footer-container {
	height: 23px;
	width: 100%;
	position: absolute;
   	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-top: 10px;*/
	text-align: center;
	background-color: #191919;
	color: #A5CD0A;
}

.modal-backdrop {
	background: #222;
}

// added to style brand w/ green text
.navbar .brand {
	color: #A5CD0A;
}

// added to push down intro text in div
#main-container {
	padding-top: 10px;
}