@import "bootstrap";
@import "account";
@import "auction_list";
@import "auctions";
@import "bid_modal";
@import "bids";
@import "help";
@import "home";
@import "password_resets";
@import "sessions";
@import "users";

html, body {
	height: 100%;
}

body {
	background-image:url('/images/bg_light_wood.png');
}

a.auction_thumbnail_more_info.label:hover {
	color: white;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px; /* extra px to prevent scroll bar.  there is 1px off somewhere else, notice 1px white line on top of footer */
}

#header-container {
	padding-top: 50px;
	margin-bottom: -65px;
}

#main-container {
	overflow:auto;
	background: #FFF;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px; /* to push down intro text in div */
	padding-bottom: 20px; /* same as height of footer */
	margin-top: 15px;
}

#footer-container {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 20px;
	border-top: 1px solid #eee;
	background-color: #191919;
	text-align: center;
	color: #A5CD0A;
}

/* Space to add between footer and rest of the content, when they are close */
.push {
	height: 60px;
}

/* Makes some space for navigation bar */
.wrapper > .container-fluid {
	padding-top: 60px;
}

.modal-backdrop {
	background: #222;
}

/* Added to style brand w/ green text */
.navbar .brand {
	color: #A5CD0A;
}

#navbar_btn  {
	margin-top: 0;
}

form.navbar-search.pull-right input:not([id="navbar_btn"]) {
	background-color: #565656;
	border-color: #565656;
	color: white;
}

form.navbar-search.pull-right input:focus:not([id="navbar_btn"]) {
	background-color: white;
	border-color: white;
	color: grey;
}

.add-on {
	color: grey;
}
