// Place all the styles related to the Auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#auction_index_search_query_div, #auction_index_search_min_price_div, #auction_index_search_max_price_div, 
#auction_index_search_ended_auctions_div, #auction_index_search_actions_div {

}

.auction_index_search_form_padding {
  padding-top: 10px;
}

.auction_index_search_push_down {
  margin-top: 10px;
}


#auction_index_search_row .input-prepend .add-on {
  margin-right: -5px;
}

#auction_index_search_btn, #auction_index_show_active_btn {
  width: 120px;
}

#auction_index_show_active_btn {
  padding: 4px 0px 4px;
}

#auction_index_search_ended_auctions_div {
  margin-bottom: 5px;
}

#auction_index_search_row legend {
  margin-left: 10px;
}

.grey_box {
	margin-top: 15px;
	padding: 25px;
	background-color: #c0c0c0;
}

#terms_label {
  width: 50px;
}

#terms_text_area_div {
  margin-left: 70px;
}

#new_auction_header {
  float: right;
}

#new_bid_help_block {
  display: none;
}