// Place all the styles related to the Auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#auction_index_search_query_div, #auction_index_search_min_price_div, #auction_index_search_max_price_div, 
#auction_index_search_ended_auctions_div, #auction_index_search_actions_div {

}

#auction_index_search_query_div {
  width: 170px;
}

#auction_index_search_query_div .controls {

}

#auction_index_search_min_price_div, #auction_index_search_max_price_div {
  width: 120px;
}

#auction_index_search_query_div .control-label {

}

 #auction_index_search_min_price_div .control-label, #auction_index_search_max_price_div .control-label {

 }

#auction_index_search_actions_div {
  display: inline;
}

#auction_index_search_actions_div .btn {
  margin: 15px;
}

#auction_index_search_max_price_div input, #auction_index_search_min_price_div input {
  width: 75px;
}

#auction_index_search_row legend {
  padding-left: 20px;
}

#auction_index_search_div {
  padding-top: 20px;
}

#auction_index_search_ended_auctions_div .controls, #auction_index_search_ended_auctions_div label {
  display: inline;
}

#auction_index_search_ended_auctions_div {
  margin-top:25px;
}