// Place all the styles related to the Auctions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stripe_error {
	display: none;
}

.payment_method {
	cursor: pointer;
}

td.delete_cell {
	width: 70px;
	text-align: right;
}