// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session_new_form {
	margin: 0 auto;
}

//.input-prepend span {
//    width: 59px !important;
//}

/* want to figure out how to override the overflow property from main application.css
#main-container.container {
	background: red;
	overflow: show;
}*/