<div id="footer-container" class="container">
	<div class="row">
		<div class="span12">
			<footer>
				<h3>Designed by Team Zwei. Copyright &copy; <%= Time.now.year %></h3>
			</footer>
		</div>
	</div><!-- /row -->
</div><!-- /footer-container -->