<div id="header-container" class="container">
  <div class="row">
    <div class="span12">
      <header>
        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end; if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </header>
    </div>
  </div><!-- /row -->
</div><!-- /header-container -->
