<div id="header-container" class="container">
  <div class="row">
    <div class="span12">
      <header>
        <% if notice %>
          <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            <%= notice %>
          </div>
        <% end; if alert %>
          <div class="alert">
            <a class="close" data-dismiss="alert">×</a>
            <%= alert %>
          </div>
        <% end %>
      </header>
    </div>
  </div><!-- /row -->
</div><!-- /header-container -->
