<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Capstone", root_url, class: "brand" %>
      <ul class="nav">
        <li>
          <%= link_to "Home", root_url %>
        </li>
        <li class="">
          <a href="#">Auctions</a>
        </li>
        <li class="">
          <a href="#">My Account</a>
        </li>
        <li class="">
          <a href="#">Help</a>
        </li>
      </ul>
    </div>
  </div>
</div><!-- /navbar -->